@charset "UTF-8";
/*Growth  Life */
.wrap--1250{
    width: calc(100% - 40px);
    max-width: 1250px;
    margin: 0 auto;
}
.wrap--1030{
    width: calc(100% - 40px);
    max-width: 1030px; 
    margin: 0 auto;
}
.wrap--1025{
    width: calc(100% - 40px);
    max-width: 1025px;
    margin: 0 auto;
}
.capIn--left{
    right: unset;
    left: 5px;
}
.image__cap{
    position: relative;
}
.fz--19{
    font-size: 19px;
    line-height: 1.6;
}
.fz--12{
    font-size: 12px;
    line-height: 1.6;
}
.fz--11{
    font-size: 11px;
    line-height: 1.6;
}
.text--indent{
    padding-left: 1em;
    text-indent: -1em;
}
.dots{
    color: #8cccc2;
}

.sec1{
    margin-top: 100px;
}
.area__image{
    position: relative;
}
.area__image .photo__capIn{
    right: 5px;
    left: unset;
}
.area__block{
    margin-bottom: 130px;
}
.area__block-text{
    position: absolute;
    bottom: -21%;
    left: 4%;
}
.area__block-title{
    font-family: 'Libre Caslon Display', serif;
    line-height: 1;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    color: #ffffff;
}
.title--sm{
    font-size: 38px;
}
.title--lg{
    font-size: 86px;
}
.title--jp{
    font-size: 22px;
    margin-left: 1em;
    margin-top: 2em;
}
.txt--vertical{
    -ms-writing-mode: tb-rl; -webkit-writing-mode: vertical-rl; writing-mode: vertical-rl; 
}
.area__content{
    margin-top: 100px;
}
.area__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.area__flex .flex__content{
    width: 42%;
}
.area__flex .flex__img{
    width: 48.7%;
}
.area__flex1 .flex__content{
    margin-left: 50px;
}
.bg--brownlight{
    background: #F2F0DF;
}
.area__flex2{
    margin-top: 85px;
    margin-bottom: 15px;
    padding: 50px 30px;
}
.area__flex2 .flex__content h4{
    margin-bottom: 0.8em;
}
.area__flex2 .flex__content p{
    line-height: 2;
}
.flex__2img{
    display: flex;
    justify-content: space-between;
    width: 56%;
}
.flex__2img .image__cap:not(:last-of-type){
    margin-right: 8px;
}
.area__flex [data-atariBlack]::before {
    z-index: 2;
}

.area__block2 .area__block-text {
    bottom: -19%;
}
.area__block2 .title--jp {
    margin-top: 3em;
}
.area__block2 .area__content {
    margin-top: 170px;
}
.area__block2 .boximg--relative{
    position: relative;
    width: 50%;
    min-height: 300px;
}
.area__block2 .image--ab:nth-child(1){
    position: absolute;
    bottom: 25%;
    z-index: 2;
}
.area__block2 .image--ab:nth-child(2){
    position: absolute;
    right: 0;
    bottom: -27%;
}
.area__block2 .area__flex3 {
    margin-top: 155px;
    padding: 35px;
}
.area__block2 .area__flex3 .flex__2img{
    width: 40%;
}
.area__block2 .flex__content{
    margin: 0 24px;
}
.area__block2 .area__flex3 .img__left{
    /* width: 30%; */
}
.area__block2 .area__flex3 .img__left .photo__capIn{
    font-size: 9px;
}
.area__flex3 .flex__content h4{
    margin-bottom: 0.8em;
}
/* Group Image */
.group--img{
    padding-top: 110px;
}
.group--img .col{
    display: flex;
    justify-content: space-between;
}
.group--img-item{
    position: relative;
    margin: 0 11px 11px 0;
}
.group--img-item:last-of-type{
    margin-right: 0;
}
.group--img-item img{
    width: 100%;
}
.group--img .col2 .group--img-item{
    width: 50%;
}
.group--img .col3 .group--img-item{
    width: 33.33%;
}
/* Group Image */

/* Service */
.service__first {
    margin-top: 235px;
}
.service__blockTop{
    display: flex;
    position: relative;
}
.service__content{
    width: 40%;
    background: #8cccc2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff !important;
    position: relative;
    z-index: 2;
}
.service__content h4{
    color: #ffffff !important;
}
.service__content::after{
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background: #8cccc2;
}
.bg--left.service__content{
    padding-right: 120px;
}
.bg--left.service__content::after{
    left: -100vw;
}
.service__img{
    width: 51.5%;
}
.service__first .service__txt--ver{
    position: absolute;
    top: 0;
    right: 0;
}
.box__first{
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
}
.boxFirst__left{
    display: flex;
    justify-content: space-between;
    width: 58%;
    margin-left: 6%;
}
.boxFirst__right{
    width: 36%;
    padding: 20px 15px 0 50px;
}
.boxFirst__title{
    text-align: center;
    font-size: 17px;
    line-height: 1.6;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}
.boxFirst__content{
    padding: 20px 0 0 7px;
}
.boxFirst__content p{
    font-size: 12px;
}
.photo__capOut--center{
    top: 105%;
    text-align: center;
    width: 100%;
}
.service__secon{
    margin-top: 120px;
}
.service__secon .service__txt--ver{
    position: absolute;
    top: 0;
    left: 0;
}
.service__secon .service__blockTop{
    justify-content: flex-end;
}
.service__secon .service__img .image__cap img{
    width: 100%;
}
.bg--right.service__content::after{
    right: -100vw;
}
.bg--right.service__content{
    padding-left: 80px;
}
.service__slick{
    margin: 0 0 0 auto;
    padding: 80px 0 30px 0;
}

.serviceSlick__title{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 11px;
}
.slick-prev, .slick-prev:hover, .slick-prev:focus, .slick-next, .slick-next:hover, .slick-next:focus{
    width: 40px !important;
    height: 40px !important;
    border: 2px solid #8cccc2 !important;
    transition: .3s;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
}
.slick-prev:hover::before, .slick-prev::before {
    content: '' !important;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-bottom: 2px solid #8cccc2;
    border-left: 2px solid #8cccc2;
    margin-left: 4px;
}
.service__slick .slick-prev {
    left: -50px;
}

.slick-next:hover::before, .slick-next::before {
    content: '' !important;
    border-top: 2px solid #8cccc2;
    border-right: 2px solid #8cccc2;
    margin-right: 4px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}
.service__slick .slick-next {
    right: -50px;
}
.boxSecon__title{
    font-size: 19px;
    line-height: 1.8;
    margin-bottom: 0.8em;
}
.boxSecon__desc{
    font-size: 12px;
}
.box__secon{
    margin: 0 0 0 auto;
    padding: 30px 50px 45px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.boxSecon__left{
    width: 43%;
}
.boxSecon__right{
    width: 50%;
}
.boxSecon__right .photo__capOut{
    right: unset;
    left: 0;
}
.box__secon[data-atariPink]::before{
    z-index: 2;
}
.boxSecon__title--vertical{
    font-family: 'Libre Caslon Display', serif;
    line-height: 1;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    position: absolute;
    text-transform: uppercase;
    color: #8cccc2;
    font-size: 17px;
    line-height: 1;
    top: 30px;
    left: 25px;
}
.service__lesson{
    margin-top: 170px !important;
}
.service__lesson .box__secon{
    padding: 30px 50px 45px 80px;
}
.service__lesson .boxSecon__right{
    width: 48%;
}
.slick__lesson .serviceSlick__title{
    width: 100%;
    text-align: center;
    margin-left: 0;
}   
.service__lesson .service__slick{
    padding-bottom: 65px;
}
.service__lesson .box__secon{
    align-items: flex-end;
}
.build{
    padding: 20px 2px 20px 20px;
    background: #ffffff;
}
.box__build{
    display: flex;
    justify-content: space-between;
}
.box__build:not(:last-of-type){
    margin-bottom: 10px;
}
.boxBuild__border{
    width: 90px;
    border: 1px solid #8cccc2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.boxBuild__content{
    width: 77%;
}
.boxBuild__border p{
    font-size: 13px;
    color: #8cccc2;
    line-height: 1;
}
.boxBuild__border p span{
    font-size: 8px;
    font-family: 'Libre Caslon Display', serif;
    color: #000000;
}
.boxBuild__content p{
    font-size: 11px;
    line-height: 1.6;
}
.service__lesson .boxSecon__left{
    width: 49%;
}
.service__medical .box__first{
    margin-top: 80px;
}
.service__medical .box__secon{
    margin-top: 90px;
}
.service__medical .boxSecon__title{
    margin-bottom: 2em;
}
.service__medical .box__secon{
    align-items: flex-end;
}
.service__medical .boxBuild__content {
    width: 71%;
}
.service__medical .box__secon[data-atariBlack]::before, [data-atariPink]::before {
    top: -13%;
    left: 45%;
    transform: unset;
}
/* Service */

/* LIFE INFORMATION */
.lifeInfo{
    max-width: 1230px;
    width: 100%;
    margin: 110px auto 0 auto;
}
.lifeInfo__title{
    text-align: center;
}
.lifeInfo__title .titleEn{
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.6;
    color: #8cccc2;
    font-family: 'Libre Caslon Display', serif;
}
.lifeInfo__title span:nth-child(2){
    font-size: 17px;
    line-height: 1.6;
}
/* LIFE INFORMATION */
@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
    
}

/*Growth  Life */