@charset "UTF-8";
/* Access */

/* mv */
.hero__line{
    position: absolute;
    bottom: -15%;
    left: 0;
}
/* mv */

.txt--indent{
    text-indent: -1em;
    padding-left: 1em;
}
.image__cap{
    position: relative;
}
/* Station */

.station__img{
    margin-top: 55px;
    position: relative;
    text-align: center;
}
.station__img .photo__capIn{
    right: 4%;
}
.station__box{
    margin-top: 150px;
}
.station__tit{
    font-size: 22px;
    font-weight: 500;
}
.station__list{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.station__item{
    display: flex;
    flex-direction: column;
    margin: 0 20px 35px 0;
}

.station__head{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #00B795;
}
.station__name{
    margin-right: 10px;
}
.station__name span{
    margin: 0 -0.5em;
}
.station__name,
.station__time .number{
    /* 31px */
    font-size: 30px;
    line-height: 1.6;
}
.station__time .number{
    font-family: 'Cormorant Infant', serif;
}
.station__time span{
    color: #00B795;
    font-size: 24px;
}
.station__desc{
    margin-top: 10px;
    font-size: 10px;
}
.station__icon {
    margin-top: 30px;
    text-align: center;
}
@media screen and (max-width: 1100px) {
    .station__name, .station__time .number {
        font-size: 27px;
    }
}
@media screen and (min-width: 768px) {
    .station__item:nth-of-type(3n){
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .station__list{
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .station__item:nth-of-type(2n){
        margin-right: 0;
    }
    .station__tit{
        font-size: 17px;
    }
    .station__desc{
        font-size: 12px;
    }
    .station__time{
        font-size: 12px;
    }
    .station__name{
        font-size: 20px;
    }
    .station__name span, .station__time .number{
        font-size: 30px;
        line-height: 1;
    }
    .station__time span{
        font-size: 20px;
    }
    .station__box{
        margin-top: 35px;
    }

    .station__img .photo__capIn{
        bottom: -7%;
    }
    /* swipe */
    .station__swipe{
        overflow-x: auto;
    }
    .station__swipe img{
        max-width: inherit;
    }
    /* .js-scroll__map{overflow-x: auto; padding-bottom: 10px;}
    .js-scroll__map img{max-width: inherit;} */
    /* swipe */
}
@media screen and (max-width: 668px) {
    .station__list{
        grid-template-columns: repeat(1, 1fr);
    }
    .station__item{
        margin-right: 0;
    }
    .station__name,
    .station__time span{
        font-size: 24px;
    }
}
@media screen and (max-width: 375px) {
    .station__item{
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 360px){
    .station__name span, .station__time .number{
        font-size: min(6vw, 30px);
    }
    .station__name, .station__time span{
        font-size: min(5vw, 24px);
    }
} 
/* Station */

/* Route Search */
.route{
    margin-top: 70px;
    margin-bottom: 240px;
    padding: 60px 100px 30px 100px;
    background: #d8eeea;
    text-align: center;
}
.route__title{
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 5px;
}
.route__subtitle{
    font-size: 13px;
}
.route__form{
    margin-top: 30px;
}
.input__group{
    display: flex;
    justify-content: center;
}
.input__item{
    width: 100%;
    max-width: 405px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input__item:nth-child(1){
    margin-right: 15px;
}
.lable__custom{
    background: #00B795;
    padding: 17px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 92px */
    width: 23%;
    height: 100%;
    font-size: 21px;
    color: #ffffff;
    line-height: 1;
}
.input__custom{
    border: none;
    background: #ffffff;
    width: 76%;
    font-size: 21px;
    height: 100%;
    padding: 0 25px;
}
.input__custom:focus{
    outline: none;
}
.route__desc{
    font-size: 10px;
    margin-top: 23px;
    margin-bottom: 18px;
}

.route__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__search{
    /* 205 55 */
    max-width: 205px;
    width: 100%;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00B795;
    transition: 0.2s linear;
    border: none;
    cursor: pointer;
}

.btn__search:hover{
    background: #04826b;
}
.btn__search span{
    color: #ffffff;
    font-size: 21px;
    line-height: 1.6;
    margin-left: 6px;
    margin-right: 15px;
}
.route__note{
    margin-top: 10px;
    font-size: 10px;
}
@media screen and (min-width: 768px) {

}

@media screen and (max-width: 767px) {
    .route{
        margin: 10px 0 45px 0;
        padding: 30px 15px;
    }
    .input__group{
        flex-direction: column;
    }
    .route__title {
        font-size: 24px;
    }
    .route__subtitle{
        font-size: 14px;
    }
    .input__custom,
    .lable__custom{
        font-size: 15px;
    }
    .input__item:nth-child(1) {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .input__item{
        max-width: 100%;
    }
    .input__custom{
        padding: 11px 25px;
    }
    .fz--12{
        font-size: 12px;
    }
    .route__note,.route__desc{
        font-size: 12px;
    }
    .btn__search span{
        font-size: 17px;
        margin-right: 0;
    }
}
@media screen and (max-width: 375px) {
    .input__custom{
        width: 75%;
    }
    .lable__custom{
        width: 25%;
    }
    .btn__search {
        max-width: 135px;
        padding: 11px;
    }
    .route__desc {
        margin-top: 20px;
        margin-bottom: 16px;
    }
}
/* Route Search */

.group__img{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.group__img .photo__capOut{
    top: 101%;
    right: 1.5%;
}
.group__img .img__item{
    width: 33.33%;
}
.img__item img{
    width: 100%;
}

.leisure{
    padding: 80px 0;
}
.leisure__img{
    position: relative;
    margin: 80px auto 0 auto;
    max-width: 1200px;
    width: 100%;
}
.leisure__img .photo__capIn{
    bottom: 15px;
    right: 11%;
}

@media screen and (max-width: 767px) {
    .group__img .img__item{
        width: 50%;
    }
    .leisure{
        padding: 50px 0;
    }
    .leisure__img{
        margin-top: 30px;
    }
    .leisure__img img{
        width: 100%;
    }
    .leisure__img .photo__capIn {
        bottom: -4%;
        right: 4%;
    }
    .leisure__swipe{
        text-align: center;
        margin-top: 50px;
    }
}
@media screen and (max-width: 375px){
    .leisure__img .photo__capIn {
        bottom: -9%;
        right: 6%;
    }
    .leisure {
        padding: 50px 0 35px 0;
    }
    .group__img .photo__capOut{
        right: 5.5%;
    }
}
/* Places */
.places__group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
}
.places__box{
    width: 30%;
    margin: 0 5% 5% 0;
}

.places__box:nth-child(1) .places-item p{
    line-height: 1.2;
}
.places-box-img{
    position: relative;
}
.places-box-img img{
    width: 100%;
}
.placesBox-img-title{
    color: #ffffff;
    font-size: 25px;
    line-height: 1;
    font-family: 'Libre Caslon Display', serif;
    text-transform: uppercase;
    position: absolute;
    left: 4%;
    bottom: 0;
}

.places-box-title{
    padding: 8px 0;
    text-align: center;
    border-bottom: 1px solid #00B795;
    line-height: 1.6;
    font-size: 12px;
}

.places-list{
    margin-top: 10px;
    padding-right: 15px;
}

.places-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.places-item p{
    font-size: 12px;
    line-height: 1.7;
}

.bg--lightblue{
    background: #8cccc2;
}
.places__block{
    margin-top: 40px;
    padding: 75px 0;
}
.places__block{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.places__block .block__content{
    width: 43.2%;
    color: #ffffff;
}
.places__block .block__content .image__cap{
    margin-top: 30px;
}

.places__block .block__image{
    width: 50.4%;
}

.places__block .image__cap .photo__capIn {
    bottom: 12px;
    left: 20px;
    right: unset;
}
.places__block .mTit2{
    color: #ffffff;
}
@media screen and (min-width: 768px) {
    .places__box:nth-child(3n){
        margin-right: 0;
    }
}
@media screen and (max-width: 768px){
    .places__group{
        padding: 0;
    }
    .places__box {
        width: 48%;
        margin: 0 4% 4% 0;
    }
    .places__box:nth-child(2n){
        margin-right: 0;
    }
    .places__block{
        padding: 50px 0;
        flex-direction: column;
    }

    .places__block .block__content{
        width: 100%;
        text-align: center;
        margin-top: 25px;
        padding: 0 20px;
    }
    .places__block .block__content .image__cap{
        margin-top: 25px;
    }
    .places__block .block__content .image__cap img{
        width: 100%;
    }
    .places__block .block__image{
        order: -1;
        width: 100%;
    }
    .places__block .block__image img{
        width: 100%;
    }
    .places__block .image__cap .photo__capIn{
        right: 10px;
        bottom: 10px;
        left: unset;
    }
    .places__block.content{
        width: 100%;
    }
}
@media screen and (max-width: 686px){
    .places__box {
        width: 100%;
        margin: 0 0 40px 0;
    }
    .places__box:nth-child(1) .places-item p {
        line-height: 1.7;
    }
}
/* Places */

@media screen and (max-width: 1100px) {

}
@media screen and (min-width: 768px) {
    
}

@media screen and (max-width: 767px) {

}