@charset "UTF-8";
/* Plan */
.txtcolor--white{
    color: #ffffff !important;
}
.bg--lightblue{
    background: #8cccc2;
}
.hero__line{
    position: absolute;
    bottom: -18%;
    left: 0;
}
/* Floor Map */
#floor{margin-top: 100px;}
.floormap{
    max-width: 692px; 
    width: 100%; 
    /* margin: 60px auto 0; */
    margin: 0 auto;
}
.planBtn {
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
}
.planBtn li {
    max-width: 325px;
    width: 29.55%;
    margin: 0 5.45% 5.45% 0;
    position: relative;
}
@media screen and (min-width: 768px) {
    .planBtn li:nth-of-type(3n){
        margin-right: 0;
    }
}
@media screen and (max-width: 767px) {
    #floor{margin-top: 50px;}
    /* .floormap{margin: 30px auto 0;} */
    .planBtn li {
        max-width: 50%;
        width: 48%;
        margin: 0 4% 4% 0;
    }
    .planBtn{
        padding-top: 50px;
    }
    .planBtn li:nth-of-type(2n){
        margin-right: 0;
    }
}
@media screen and (max-width: 480px){
    .planBtn li {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    
    #floor {
        margin-top: 25px;
    }
}
/* Floor Map */
/* <!-- UNDERFLOOR STORAGE --> */
.stogare{
    border: 2px solid #2fc4a8;
    padding: 50px 50px 35px 50px;
    margin: 150px 0;
}
.stogare__title{
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.6;
}
.stogare .mTit span:nth-child(2){
    font-size: 16px;
}
.stogare .mTit__en{
    border-bottom: 2px solid #2fc4a8;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.stogare__flex{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.stogare__content{
    width: 43.08%;
}

.group__img{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.group__img figure{
    width: 49%;
    margin: 0;
    padding: 0;
    position: relative;
}

.group__img figure .photo__capIn{
    left: 5px;
    right: unset;
}
.stogare__img{
    width: 54.5%;
    position: relative;
}
.stogare__img figure{
    width: 100%;
    margin: 0;
}
.stogare__img figure img{
    width: 100%;
}
.stogare__viewmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn__viewmore{
    text-align: center;
    position: relative;
    width: 260px;
}
.viewmore__title{
    font-size: 20px;
    line-height: 1;
}
.viewmore__subtitle{
    font-size: 11px;
    line-height: 1;
    font-family: 'Libre Caslon Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-top: 20px;
}
.viewmore__icon{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 260px;
    height: 20px;
    transition: 0.2s linear;
}
.btn__viewmore:hover .viewmore__icon{
    transform: translate(-40%,-50%);
    opacity: 0.5;
}
@media screen and (max-width: 767px) {
    .stogare{
        margin: 50px 0;
        padding: 25px 15px;
    }
    .stogare__flex{
        flex-direction: column;
    }
    .stogare__content {
        width: 100%;
    }
    .stogare__img{
        width: 100%;
        order: -1;
        margin-bottom: 25px;
    }
    .stogare__viewmore{
        margin-top: 25px;
    }
    .group__img figure img{
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .stogare__content .mTit2{
        text-align: center !important;
    }
    .viewmore__title {
        font-size: 16px;
    }
    .viewmore__icon{
        width: 176px;
        height: 16px;
    }
}
/* <!-- UNDERFLOOR STORAGE --> */

/* <!-- EQUIPMENT --> */
.equipment .mTit[data-atariPink]::before{
    left: unset;
    right: 0;
}
.equipment{
    padding: 80px 0 60px 0;
}
.equipment__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.equipment__img{
    position: relative;
}
.equipment__img .photo__capIn{
    right: unset;
    left: 5px;
}
.equipment__content{
    margin-top: 10px;
    line-height: 1.7;
}
.equipment-item-title{
    font-size: 20px;
}
.equipment-item-desc{
    font-size: 12px;
    line-height: 2;
}
.equipment-item-cap{
    margin-top: 10px;
    font-size: 10px;
    text-indent: -1em;
    padding-left: 1em;
}
.fz--10{
    font-size: 10px;
}
.text--indent{
    text-indent: -1em;
    padding-left: 1em;
}
.equipment__item{
    width: 22.99%;
    margin: 0 2.67% 5% 0;
}

@media screen and (min-width: 768px) {
    .equipment__item:nth-of-type(4n){
        margin-right: 0;
    }
}
@media screen and (max-width: 767px) {
    .equipment__item{
        width: 48%;
        margin: 0 4% 5% 0;
    }
    .equipment__item:nth-of-type(2n){
        margin-right: 0;
    }
    .equipment__img img{
        width: 100%;
    }
    .equipment {
        padding: 45px 0 30px 0;
    }
    .equipment__list{
        margin-top: 15px;
    }
}

@media screen and (max-width: 375px) {
    .equipment__item{
        width: 100%;
        margin: 0 0 30px 0;
    }
    .equipment__img .photo__capIn{
        left: unset;
        right: 5px;
    }
    .equipment-item-title {
        text-align: center;
    }
    .equipment-item-desc{
        font-size: 14px;
    }
}
/* <!-- EQUIPMENT --> */
