.typeBox {
    max-width: 1130px;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-top: 145px;
    padding-bottom: 120px;
}

.typeItem {
    border: 1px solid #00b795;
    padding: 55px 65px;
}

.typeItem__head {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 15px;
    border-bottom: 1px solid #00b795;
    font-family: 'Libre Caslon Display', serif;
    line-height: 1;
}

.typeHead__left {
    font-size: 33px;
    color: #00b795;
    /* line-height: 1.6; */
}

.typeHead__left span {
    font-size: 69px;
}

.typeHead__middle {
    margin-right: 30px;
    margin-left: 60px;
    font-size: 29px;
    text-transform: uppercase;
    /* line-height: 1.6; */
}
.typeItem__head .font--number{
    /* font-family: "Cormorant Infant", serif; */
}
.typeHead__middle span {
    font-size: 43px;
}

.typeHead__right {
    font-size: 25px;
    /* line-height: 1.6; */
}

.typeHead__right .number--lg {
    font-size: 68px;
}

.typeHead__right .number--md {
    font-size: 58px;
}

.typeItem__desc {
    text-align: center;
    line-height: 1.6;
    margin-top: 23px;
    margin-bottom: 70px;
}

.typeItem__desc .number--lg {
    font-size: 30px;
}

.typeItem__desc .number--md {
    font-size: 25px;
}

.typeItem__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typeItem__note {
    margin-top: 25px;
    font-size: 10px;
}

.typeItem__note .note__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.typeItem__note .note__list li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    max-width: 83px;
}

.typeItem__note .note__list li .note__icon {
    margin-right: 6px;
}

.typeBnt__group {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.type__btn {
    /* 385 59 */
    position: relative;
    text-align: center;
    max-width: 385px;
    width: 100%;
    padding: 14px 0;
    transition: 0.2s linear;
    background: #00b795;
}
.type__btn:hover{
    opacity: 0.8;
}
.type__btn span{
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
}
.type__btn .icon{
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    right: 6.5%;
}
.type__btn:not(:last-of-type){
    margin-right: 40px;
}
.i-arrow{
    border: solid #ffffff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
@media screen and (max-width: 767px) {
    .type__btn:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .typeBox{
        padding: 86px 0;
    }
    .typeItem {
        border: 1px solid #00b795;
        padding: 20px 15px 30px 20px;
    }
    .typeHead__left{
        font-size: 20px;
    }
    .typeHead__left span {
        font-size: 35px;
    }
    .typeHead__middle{
        font-size: 15px;
    }
    .typeHead__middle span {
        font-size: 25px;
    }
    .typeHead__right .number--lg{
        font-size: 35px;
    }
    .typeHead__right .number--md {
        font-size: 25px;
    }
    .typeHead__right {
        font-size: 12px;
    }
    .typeItem__desc p{
        font-size: min(4vw, 15px);
    }
    .typeItem__desc .number--lg{
        font-size: 25px;
    }
    .typeItem__desc .number--md {
        font-size: 22px;
    }
    .typeHead__middle {
        margin-right: 20px;
        margin-left: 40px;
    }
    .typeItem__note {
        margin-top: 20px;
    }
}

@media screen and (max-width: 375px) {
    .typeHead__middle {
        margin-right: min(2vw, 13px);
        margin-left: min(4vw, 23px);
    }
    .typeItem__desc {
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .typeItem__note .note__list li{
        margin-right: 4px;
    }
    .typeBnt__group {
        margin-top: 35px;
    }
}