/* font-family: 'Libre Caslon Display', serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif; */
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
        font-family: YakuHanMP, 'Noto Serif JP', YuMincho, 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;
        -webkit-font-feature-settings: 'palt';
        font-feature-settings: 'palt';
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
}
.photo__capIn {
    bottom: 5px;
    right: 5px;
    color: #ffffff;
}
.photo__capIn, .photo__capOut {
    position: absolute;
    font-size: 10px;
    line-height: 1.4;
    /* color: #000000; */
    text-shadow: #000000 1px 1px 2px, #000000 -1px 1px 2px, #000000 1px -1px 2px, #000000 -1px -1px 2px;
}
.caption[data-color='sdw-bl'], .capIn[data-color='sdw-bl'], .capOut[data-color='sdw-bl']{
    color: #000000;
    text-shadow: #ffffff 1px 1px 2px, #ffffff -1px 1px 2px, #ffffff 1px -1px 2px, #ffffff -1px -1px 2px;
}
html{
    font-size: 62.5%;
}
.wrapper{
    width: calc(100% - 40px);
    max-width: 1030px;
    margin: 0 auto;
}
.mv__img{
    position: relative;
}
.mv__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.mv__tit{
    font-size: 6.5rem;
    font-family: 'Libre Caslon Display', serif;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1.5;
}
.mv__subtit{
    font-size: 2.3rem;
    color: #ffffff;
}
.txt--indent{
    text-indent: -1em;
    padding-left: 1em;
}
/* Station */
.station{
    margin-top: min(5vw, 5rem);
}
.station__img{
    position: relative;
}
.station__img img{
    width: 100%;
}
.station__box{
    margin-top: min(16vw, 16rem);
}
.station__tit{
    font-size: 2rem;
    font-weight: 500;
}
.station__list{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
}
.station__item{
    width: 31.67%;
    margin: 0 2.4% 2.4% 0;
    display: flex;
    flex-direction: column;
}
.station__item:nth-of-type(3n){
    margin-right: 0;
}
.station__top{
    flex: 1 1 100%;
    border-bottom: 2px solid #00B795;
}
.station__head{
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
}
.station__name{
    font-size: min(3vw, 3rem);
    margin-right: 10px;
    line-height: 1.5;
}
.station__time span{
    color: #00B795;
    font-size: min(3vw, 3rem);
    line-height: 1.5;
}
.station__desc{
    margin-top: 12px;
    flex: 1;
}

/* Station */

/* Route Search */
.route{
    margin-top: 10rem;
    margin-bottom: 24rem;
    padding: 6rem 10rem 3rem 10rem;
    background: #d8eeea;
    text-align: center;
}
.route__title{
    font-size: 2.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
}
.route__form{
    margin-top: 3rem;
}
.input__group{
    display: flex;
    justify-content: space-between;
}
.input__item{
    width: 49%;
    max-width: 405px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lable__custom{
    background: #00B795;
    padding: 17px;
    /* 92px */
    width: 26%;
    font-size: 2rem;
    color: #ffffff;
    line-height: 1;
}
.input__custom{
    border: none;
    background: #ffffff;
    width: 74%;
    font-size: 2rem;
    height: 100%;
    padding: 0 25px;
}
.route__desc{
    margin-top: 23px;
    margin-bottom: 18px;
}
.route__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__search{
    /* 205 55 */
    max-width: 205px;
    width: 100%;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00B795;
    transition: 0.2s linear;
}

.btn__search:hover{
    background: #04826b;
}
.btn__search span{
    font-size: 2rem;
    line-height: 1.5;
    margin-left: 6px;
    color: #ffffff;
}
.icon__search{
    margin-left: 15px;
}
.route__note{
    margin-top: 20px;
}
/* Route Search */

.group__img{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.group__img .photo__capIn{
    bottom: -25px;
}
.img__item{
    width: 33.33%;
}
.img__item img{
    width: 100%;
}
.leisure-spot{
    padding: 80px 0;
}
.leisure-spot__img{
    position: relative;
    margin-top: 80px;
}

/* Places */
.places__group{
    display: flex;
    flex-wrap: wrap;
}
.places__box{
    width: 28.6%;
    margin: 0 6.5% 6.5% 0;
}
.places__box:nth-child(3n){
    margin-right: 0;
    background: red;
}
.places-box-img{
    position: relative;
}
.placesBox-img-title{
    text-transform: uppercase;
    font-size: 2.5rem;
    position: absolute;
    left: 20px;
    bottom: 0;
}
.places-box-img .photo__capIn{
    bottom: -15px;
}
.places-box-title{
    padding: 12px 0;
    text-align: center;
    border-bottom: 1px solid #00B795;
}
.places-list{
    margin-top: 10px;
}
.places-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scale-img {
    overflow: hidden;
    display: block;
    cursor: pointer;
}

.scale-img img {
    transform: scale(1, 1) rotate(0);
    transition: .5s ease-in-out;
}

.scale-img:hover>img {
    transform: scale(1.1, 1.1);
}
/* Places */
