@charset "UTF-8";
/* Common */
[class*="titHz"]{font-size: 52px; line-height: 0.6; color: #fff; opacity: .1; letter-spacing: 0.15em; position: absolute; top: -0.1em; -ms-writing-mode: tb-rl; -webkit-writing-mode: vertical-rl; writing-mode: vertical-rl;}
.titHzRight{right: 0;}
.titHzLeft{left: 0; transform: rotate(180deg); -webkit-transform: rotate(180deg);}

.txtNote{font-size: 16px; line-height: 1.4; padding: 7px 0 0 0; text-align: center;}
.txtNote span{font-size: 13px; display: inline-block;}

@media screen and (max-width: 767px) {
    .txtNote{font-size: 14px; line-height: 1.4;}
    .txtNote span{font-size: 12px;}
}

/* Intro */
@media screen and (min-width: 768px) {
    .intro{padding: 30px 0; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
    .introInner{width: 47.5%;}
    .introMap{width: 47.5%;}
}

@media screen and (max-width: 767px) {
    .intro{padding: 30px 0 10px 0;}
    .introInner{margin: 0 0 10px;}
    .introInner h3{text-align: center;}
}

/* Front */
.front{padding: 0 65px 70px 0;}

/*.frontOuter{padding: 90px 0 50px 65px; position: relative; background: url("../imgs/environment/front-bg.jpg") no-repeat top center/cover; color: #fff;}*/
.frontOuter{padding: 90px 0 50px 65px; position: relative; background-color: #727d7f; color: #fff;}

.frontBox01{margin: 85px 0 0 0; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end;}
.frontBox01__img{width: 50%; position: relative;}
/*.frontBox01__inner{width: 45.67%; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;}*/
.frontBox01__inner{width: 45.67%;}
.frontBox01__cont{width: 100%;font-size: 16px;}
.frontBox01__tit{font-size: 20px; letter-spacing: 0.1em; line-height: 1.5; border-bottom: 1px solid #fff; margin: 0 0 5px; padding: 0 0 5px;}
.frontBox01__info{font-size: 13px; margin: 0 0 10px;}
.frontBox01__list{width: 100%; margin: 40px 0 0 0;}
.frontBox01__list li{background: rgba(255,255,255,.1); height: 57px; display: flex; justify-content: center; align-items: center; text-align: center; width: 100%; margin: 0 0 10px;font-size: 16px;}
.frontBox01__list li:last-of-type{margin: 0;}
.frontBox01__photo{width: 100%; margin: 40px 0 0 0; display: flex; justify-content: space-between; align-items: flex-start;}
.frontBox01__photo figure{width: 48.36%;}
.frontBox01__photo figcaption{text-align: right;}

.frontBox02{max-width: 890px; margin: 85px auto 0; display: flex; flex-wrap: wrap; justify-content: space-between;}
.frontBox02__item{width: 45%;}

@media screen and (max-width: 1400px) {
    .front{padding: 0 20px 70px 0;}
    .frontOuter{padding: 90px 0 50px 20px;}
}

@media screen and (max-width: 767px) {
    .front{padding: 0 0 50px;}
    .frontOuter{padding: 60px 0 20px;}
    .frontOuter img{width: 100%;}
    
    .frontBox01{margin: 50px 0 0 0; align-items: flex-start;}
    .frontBox01__img{width: 100%; order: -1; margin: 0 0 15px;}
    .frontBox01__inner{width: 100%;}
    .frontBox01__cont{width: 100%;}
    .frontBox01__list{width: 100%; display: flex; justify-content: space-between; margin: 18px 0 0 0;}
    .frontBox01__list li{width: 49%; margin: 0;}
    .frontBox01__photo{margin: 13px 0 0 0;}
    .frontBox01__photo figure{width: 49%;}
    
    .frontBox02{margin: 30px auto 0;}
    .frontBox02__item{width: 47.5%;}
}

/* Green */
.green{padding: 0 0 70px 65px;}
.green .copyBox{text-align: center; margin-bottom: 60px;}
/*.greenOuter{padding: 90px 65px 90px 0; position: relative; background: url("../imgs/environment/green-bg.jpg") no-repeat top center/cover; color: #fff;}*/
.greenOuter{padding: 90px 65px 90px 0; position: relative; background-color: #747f72; color: #fff;}
.greenOuter .titHz{left: 0;}
.greenInner{display: flex; justify-content: flex-end; margin-bottom: 40px;}
.greenLeft{width: 520px; margin-right: 45px;}
.greenRight{width: 588px;}
.greenPhoto{display: flex; justify-content: space-between; width: 100%; margin: 50px 0 0 0;}
.greenPhoto__item{width: 47.8%;}

@media screen and (max-width: 1400px) {
    .green{padding: 0 0 70px 20px;}
    .greenOuter{padding: 90px 20px 90px 0;}
}

@media screen and (max-width: 767px) {
    .green{padding: 0 0 50px;}
    .green img{width: 100%;}
    .greenOuter{padding: 60px 0;}
    .greenRight h4{text-align: center;}
    .greenImg{margin: 20px 0 0 0;}
    .greenPhoto{margin: 30px 0 0 0;}
}

/* Education */
.education{padding: 0 65px 120px 0;}
.education .titHzRight{opacity: .5;}
.educationOuter{padding: 60px 0 20px 65px; position: relative; background: #efe9dd;}
.educationBox01{margin: 0 0 40px; display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center;}
.educationBox01__inner{width: 48.34%;}
.educationBox01__img{width: 43.34%; position: relative;}
.educationBox02{display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center;}
.educationBox02__inner{width: 48.34%;}
.educationBox02__list{width: 48.34%; display: flex; flex-wrap: wrap;}
.educationBox02__item{width: 48.45%; margin: 0 3.1% 15px 0;}
.educationBox02__item:nth-of-type(2n){margin-right: 0;}
.educationBox02__item .txtNote span{display: block;}

@media screen and (max-width: 1400px) {
    .education{padding: 0 20px 120px 0;}
    .educationOuter{padding: 60px 0 20px 20px;}
}

@media screen and (max-width: 767px) {
    .education{padding: 0 0 60px 0;}
    .education img{width: 100%;}
    .educationOuter{padding: 60px 0 40px;}
    .educationOuter h4{text-align: center;}
    
    .educationBox01__inner{width: 100%; margin: 0 0 20px;}
    
    .educationBox01__img{width: 100%;}
    .educationBox02__list{width: 100%;}
    .educationBox02__inner{width: 100%; order: -1; margin: 0 0 20px;}
}

/* Area */
.areaInfo{margin-bottom: 80px;}
.area{display: flex; justify-content: space-between; flex-wrap: wrap; margin: 60px 0 90px;}
.areaItem{width: 30.84%;}

@media screen and (max-width: 767px) {
    .areaInfo{margin-bottom: 60px;}
    
    .area{margin: 20px 0 60px;}
    .areaItem{width: 48%;}
    .areaItem:nth-of-type(1){width: 100%; margin: 0 0 20px;}
}

/* Information */
.infoNav{display: flex; margin: 0 0 35px;}
.infoNav li{width: 16.667%; position: relative; text-align: center; padding: 12px 0 13px; z-index: 2; cursor: pointer;}
.infoNav li:after{content: ''; position: absolute; top: 0; bottom: 0; left: 5px; right: 5px; z-index: -1;}
.infoNav li:hover:after,
.infoNav li.isActive:after{background: #ebebeb;}

.infoNav li p:before{content: ''; width: 10px; height: 10px; margin-right: 10px; display: inline-block;}
.infoNav li:nth-of-type(1) p:before{background: #ffb5b5;}
.infoNav li:nth-of-type(2) p:before{background: #c0e8eb;}
.infoNav li:nth-of-type(3) p:before{background: #f3d4a2;}
.infoNav li:nth-of-type(4) p:before{background: #d3ebb1;}
.infoNav li:nth-of-type(5) p:before{background: #dfdb96;}
.infoNav li:nth-of-type(6) p:before{background: #d4a9d9;}

.infoTab{display: none;}
.infoWrap{width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;}
.infoMap{width: 60.8%;}
.infoMap iframe{width: 100%; height: 520px;}
.infoList{width: 35.8%; border-top: 1px solid #cccccc;}
.infoList li{border-bottom: 1px solid #cccccc; font-size: 13px; line-height: 1.6; width: 100%; display: flex; padding: 18px 10px 19px;}
.infoList p:nth-of-type(1){width: calc(100% - 150px);}
.infoList p:nth-of-type(2),
.infoList p:nth-of-type(3){width: 75px; text-align: right;}

@media screen and (min-width: 768px) {
    .infoNav li{border-right: 1px solid #ccc;}
    .infoNav li:last-of-type{border-right: none;}
    .infoNav li:nth-of-type(1):after{left: 0;}
    .infoNav li:nth-of-type(6):after{right: 0;}
}

@media screen and (max-width: 767px) {
    .infoNav{flex-wrap: wrap; margin: 0 0 25px;}
    .infoNav li{width: 50%;}
    
    .infoNav li{border-bottom: 1px solid #ccc; padding: 16px 0 17px;}
    .infoNav li:nth-of-type(odd):before{content: ''; position: absolute; top: 5px; bottom: 5px; right: 0; background: #ccc; width: 1px; display: block;}
    .infoNav li:after{top: 5px; bottom: 5px;}
    .infoNav li:nth-of-type(odd):after{left: 0;}
    .infoNav li:nth-of-type(even):after{right: 0;}
    
    .infoMap{width: 100%; margin: 0 0 15px;}
    .infoMap iframe{height: 100vw;}
    .infoList{width: 100%;}
}